<div class="column is-4">
  <!--   <div class="block homeblock"> -->
    <h1>Hello and welcome to my digital refuge.</h1>
    <h2>Start Here:</h2>
    <ul>
      <li>DevOps</li>
      <li>Systems</li>
      <li>Writing</li>
      <li>Consulting</li>
    </ul>
</hr>
    <h1> About </h1>
    <h2>What?</h2>
    <p>
      Digital gardening is what people are calling non-linear, imperfect, iterative, less-marketing-y personal web spaces. Think about the meaning of the words: a site is singular, point like and dimension-less. A space has dimension, it may expand or shrink, change shape - as such it may convey character. A spacious garden on the web, for you and me to enjoy working on and strolling around. Expect ramblings on technology, arts, history and society.
    </p>
    <h2>Who?</h2>
    <p>
      On here, I've chosen to go by Jace, as my first name tends to be butchered in English 😅 By education I'm a media generalist. I've played with or on computers my whole life. Took up photography, with great joy but little artistic success. Am an amateur pianist of no great avail. I love reading and writing. I've worked in software dev, TV & film postproduction and have since moved into engineering and consulting for media technology projects. A jack-of-nothing-really-but-everything-a-bit.
    </p>
    <h2>Why?</h2>
    <p>
      I've signed off social media, except for a few <a href="tomcritchlow.com">campfires</a> that captivate me. The concept of a digital garden seems to realize some of the best promises of the internet, while avoiding some of its worst cancerous outgrowths. So this might become my digital refuge from the crazy.
    </p>

</div>
